<template>
  <div class="hello">
    <h1>Gitlab CI/CD 測試</h1>
    <p>環境：<span>{{ environment }}</span></p>
    <p>版本：<span>{{ version }}</span></p>
  </div>
</template>

<script>

export default {
  name: 'HelloWorld',
  props: {
    environment: {
      type: String,
      default: ''
    },
    version: {
      type: String,
      default: ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
