<template>
  <img alt="Vue logo" src="./assets/logo1.png">
  <HelloWorld 
    :environment="environment"
    :version="version"
  />
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'App',
  components: {
    HelloWorld
  },
  data() {
    return {
      environment:  '',
      version: '',
    }
  },
  mounted() {
    this.environment = process.env.VUE_APP_ENV
    this.version = process.env.VUE_APP_VERSION
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
